{{#returnType}}{{#returnContainer}}: array{{/returnContainer}}{{^returnContainer}}{{#returnSimpleType}}: {{returnType}}{{/returnSimpleType}}{{/returnContainer}}{{/returnType}}{{^returnType}}: void{{/returnType}}