{{#returnType}}{{#returnContainer}}'array{{#isNullable}}|null{{/isNullable}}'{{/returnContainer}}{{^returnContainer}}{{#returnTypeIsPrimitive}}'{{{returnType}}}'{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#returnSimpleType}}{{returnBaseType}}::class{{/returnSimpleType}}{{^returnSimpleType}}'{{{returnType}}}'{{/returnSimpleType}}{{/returnTypeIsPrimitive}}{{/returnContainer}}{{/returnType}}{{^returnType}}null{{/returnType}}